<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>File Whizz</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="material-colors.css" />
  <script src="https://unpkg.com/lucide@0"></script>
  <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
  <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  <script type="module" src="main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="File Whizz">
  <meta property="og:description" content="Make that file buzzing through air">
</head>

<body>
  <main id="app" style="display: none">
    <h1>
      <i icon="file-volume-2"></i>
      File Whizz
    </h1>
    <br />
    <div>
      <label>Local ID</label><br>
      <input readonly :value="localId" />
      <br>
      <br>
      <template v-if="canConnect">
        <label>Remote ID</label><br>
        <input v-model="remoteId" @change="onRemoteIdChange" :readonly="isConnected">
        <br>
        <br>
      </template>
      <template v-if="canConnect && !downloading && !readyToDownload">
        <input type="file" @change="onFileChange" :disabled="data" />
        <br>
      </template>
      <template v-if="readyToDownload">
        <input type="submit" @click.prevent="clientStartTransfer" value="Download" />
        <br>
        <br>
      </template>
      <progress v-if="downloading" :value="downloadProgress" :max="downloadTotal"></progress>
    </div>
    <br />
    <small class="footer">
      <i icon="at-sign"></i>&nbsp;<a href="https://github.com/klemek" target="_blank">klemek</a>
      -
      <i icon="github"></i>&nbsp;<a href="https://github.com/klemek/file-whizz" target="_blank">Repository</a>
      - 2025
    </small>
  </main>
</body>

</html>