svg.lucide {
  display: inline-block;
  vertical-align: text-top;
}

b .lucide,
h1 .lucide,
h2 .lucide,
h3 .lucide,
h4 .lucide,
h5 .lucide,
h6 .lucide {
  stroke-width: 2;
}

.bg-base-100\/95 {
  background-color: color-mix(in oklab, var(--color-base-100) 95%, #0000);
}

.hero {
  background-image: url(./background.jpg);
}

#qrcode img,
#qrcode canvas {
  object-fit: fill;
  aspect-ratio: 1 / 1;
  width: 100%;
}
